.order-container{
   
}
.card{
    border-radius: 1rem;
    width:70%;
    min-height: 6rem;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
}
.date{
    text-align:center;
}
.name{
    height: 10%;
    width: 50%;
   


}



.amount{
   text-align: center;
    width: 70%;
   
}





  
    img {
      width: 100%;
    }
  
    .item__details {
       
        text-align: right;
        
     
    }
  
  

